.counter_block > span.extra_minus, .counter_block > span.extra_plus {
  font-size: 0;
  line-height: 28px;
  height: 28px;
  width: 24px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top; }

.counter_block > span:before {
  opacity: 0.7;
  display: inline-block;
  content: "";
  width: 24px;
  height: 28px;
  background: url(bitrix/templates/aspro_optimus/images/ai.png) -21px -191px no-repeat;
  vertical-align: middle; }

.counter_block > span.extra_plus:before {
  background-position: 5px -191px; }

div.notify_area {
  visibility: hidden;
  position: fixed;
  color: whitesmoke;
  background-color: #00a7df;
  height: 50px;
  width: 200px;
  border-radius: 3px;
  bottom: 50px;
  right: 130px;
  padding: 15px 0 15px 5px; }

div.notify_area > a {
  position: absolute;
  top: 4px;
  right: 6px;
  color: #fff;
  text-decoration: none; }

div.notify_area > a:hover {
  color: #fff;
  text-decoration: none; }

div.search_extra {
  padding: 5px 0; }

input.search_extra_icon {
  /* margin: 5px 0; */
  text-indent: -9999px;
  width: 39px;
  height: 39px;
  background: url(bitrix/templates/aspro_optimus/images/ai.png) -65px 8px no-repeat;
  position: relative;
  right: 40px;
  z-index: 20;
  border: 0;
  -webkit-appearance: none; }

.extra_menu_top_block {
  border-radius: 4px;
  z-index: 101;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box; }

header .extra_menu_top_block > li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px; }

.extra_menu_top_block > li > a, .extra_menu_top_block > li > div.dropdown > a {
  /* overflow: hidden; */
  position: relative;
  display: block;
  padding: 12px 22px 13px;
  color: #FFF;
  white-space: normal; }

header .menu_colored .extra_menu_top_block > li.current > a {
  color: #fff;
  border-left: 1px solid #00a3da; }

header .menu_colored .extra_menu_top_block > li.current > a {
  background: #0094c5; }

body header#header .catalog_menu .extra_menu_top_block > li.current > a {
  color: #fff; }

/* catalogfirst visible_on_ready menu_top_block */
a.dropbtn {
  display: inline-block;
  /*background-color: #00a7df;*/
  color: white;
  /*padding: 16px;*/
  font-size: 16px;
  border: none;
  cursor: pointer; }

/* The container <div> - needed to position the dropdown content */
div.dropdown {
  position: relative;
  display: inline-block;
  max-width: 100%; }

/* Dropdown Content (Hidden by Default) */
div.dropdown-content {
  display: none;
  /*position: absolute;*/
  color: #fff;
  background-color: #00a7df;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Links inside the dropdown */
div.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
div.dropdown-content a:hover {
  background-color: #01b5f2; }

/* Show the dropdown menu on hover */
div.dropdown:hover div.dropdown-content {
  display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
div.dropdown:hover a.dropbtn {
  background-color: #00a7df; }

.extra_menu_top_block > li:last-child {
  min-width: 17%; }

div.dropdown a.dropbtn i {
  position: static;
  right: 18px;
  top: 3.5px;
  visibility: hidden;
  font-size: 20px;
  color: red; }

div.dropdown a.dropbtn:hover i {
  position: static;
  right: 0px;
  top: 3.5px;
  visibility: hidden;
  font-size: 20px;
  color: red; }

table.extra_table {
  border: 1px solid #fff; }

/*# sourceMappingURL=extra.css.map */
