div.bx-auth-reg input.bx-auth-input {vertical-align:middle;}
div.bx-auth-reg span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-reg div.bx-auth-secure-icon {background-image:url("https://optimus.aspro-demo.ru:443/bitrix/templates/aspro_optimus/components/bitrix/main.register/main/images/sec.png"); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-reg div.bx-auth-secure-unlock {background-image:url("https://optimus.aspro-demo.ru:443/bitrix/templates/aspro_optimus/components/bitrix/main.register/main/images/sec-unlocked.png");}
/*.module-form-block-wr .form-block label.error {color: #b92200; text-transform: none; margin-bottom: 10px; font-family: Arial, sans-serif;
display: block;
font-size: 12px;
margin:0px;
padding:0px;
position: relative;
top:4px;
}*/
/*.button-30{margin-top: 17px;}*/
.error-fld2 {
	position: absolute;
	top: 27px;
	left: 465px;
	float: right;
	height: 28px;
	padding: 3px 0 0 9px !important;
	color:#fff !important;
	width: 130px;
	background-repeat: no-repeat;
	background-image: url("https://optimus.aspro-demo.ru:443/bitrix/templates/aspro_optimus/components/bitrix/main.register/main/images/error.png");
}