{% extends "index.html" %}
{% block cart %}
    {% if provider_error %}
        <div class="alert alert-danger">
            <strong>Ошибка при заказе у поставщика {{ provider_error }}</strong> Сумма вашего заказа меньше минимального
        </div>
    {% endif %}
    {% if multiplicity_warning and not provider_error %}
        <div class="alert alert-warning">
            <strong>Предупреждение</strong> Не у всех товаров из этого списка совпадает кратность заказать всё равно?
            <a class="btn btn-warning" value="Да" onclick='
            function submit() {
                document.getElementById("ignore_form").value = "1";
                document.getElementById("cart").submit();
            }
            submit()'>Да</a>
            <a class="btn btn-success" value="Нет" href="/cart">Нет</a>
        </div>
    {% endif %}
    {% if error_msg %}
        <div class="alert alert-danger">
            <strong>{{ error_msg }}</strong>
        </div>
    {% endif %}
    <script type="text/javascript">
    function setSum(){
        var sum_elem = document.getElementById('value_s');
        var sum = 0;
        [].forEach.call(document.getElementsByClassName('sum_itema'), function(item) {
            sum += parseFloat(item.innerText);
        });
        sum = Math.round(sum * 100) / 100;
        sum_elem.innerText = "Общая сумма заказа: " + sum + " руб.";
    }
    function updateQuantity(id){
        var sum_elem = document.getElementById("sum_"+id).children[0];
        var price = document.getElementById("current_price_"+id).children[0].innerHTML;
        var q_elem = document.getElementById("QUANTITY_INPUT_" + id);
        var quantity = document.getElementById("QUANTITY_INPUT_" + id).value;
        price = price.split(',')[0] + "." + price.split(',')[1];
        var _sum = parseFloat(price).toFixed(2) * parseInt(quantity).toFixed(2);
        _sum = Math.round(_sum * 100) / 100;
        sum_elem.innerHTML = _sum.toString();
        $.ajax({
            type: "get",
            url: "/update_quantity/",
            data: {
                "id": id,
                "quantity": quantity
            },
            success: function(data){
                setSum();                
            },
            error: function(jqXHR, textStatus, errorThrown){
                q_elem.value = jqXHR.responseText;
                var _sum = parseFloat(price) * parseFloat(q_elem.value);
                sum_elem.innerHTML = _sum.toString();
                setSum();
            }
        })
    }
    function clearCart(){
        location.href = "/clear/";
    }

    function showCartItemsList(elem, provider) {
        [].forEach.call(document.getElementsByClassName("basket_toolbar"), function (item) {
            item.classList.remove("current");
        });
        elem.classList.add("current");
        $.ajax({
            type: "get",
            url: "/update_table/",
            data: {"provider": provider},
            success: function(data){
                provider = provider !== '' ?  provider : 0;
                console.log(provider);
                document.getElementById("cart").setAttribute("action", "/buy/"+provider);
                $("#basket_items_list tbody tr").remove();
                var table = document.getElementById("basket_items_list");
                [].forEach.call(data.cart, function (v) {
                    var row = $("<tr>");
                    row.append($('<td class="margin"></td>'))
                        .append($('<td class="item"></td>').append('<h2 class="bx_ordercart_itemtitle">' + v.name + '</h2>'))
                        .append($('<td class="custom"></td>').append('<div>' + v.provider + '</div>'))
                        .append($('<td class="price"></td>').append($('<div class="current_price" id="current_price_' + v.id + '"></div>')
                                .append('<span class="price_value">' + v.price + '</span>')
                                .append('<span class="price_currency"> руб.</span>')))
                        .append($('<td class="custom"></td>').append($('<div class="centered"></div>')
                                .append($('<table cellspacing="0" cellpadding="0" class="counter"></table>')
                                    .append($('<tbody></tbody>').append($("<tr></tr>")
                                        .append($('<td></td>').append('<input type="text" size="3" id="QUANTITY_INPUT_' + v.id  + '" name="QUANTITY_INPUT_' + v.id + '" maxlength="18" style="max-width: 50px" value="' +  v.quantity + '" onchange="updateQuantity('+ v.id +');">'))
                                        .append($('<td id="basket_quantity_control"></td>').append($('<div class="basket_quantity_control"></div>')
                                            .append('<a href="javascript:void(0);" class="plus" onclick="setQuantity(' + v.id + ', 1,' + "'up'" + ', false)"></a>')
                                            .append('<a href="javascript:void(0);" class="minus" onclick="setQuantity(' + v.id + ', 1,' + "'down'" + ', false)"></a>')
                                        ))
                                    ))
                                )
                        ))
                        .append($('<td class="custom"></td>').append($('<div id="sum_' + v.id + '"></div>')
                                .append('<span class="price_value sum_itema">' + v.sum + '</span>')
                                .append('<span class="price_currency"> руб.</span>')))
                        .append($('<td class="control"></td>')
                            .append('<a href="/delete_from_cart/?id=' + v.id +'" onclick="return deleteProductRow(this)">Удалить</a>')
                            .append('<a style="display: none;"></a>'))
                        .append($('<td class="margin"></td>'));
                    $("#basket_list").append(row);
                    setSum();
                })
            }
        })
    }
    </script>
    <form action="/buy/0" method="post" xmlns="" id="cart">
        {% csrf_token %}
        <input type="hidden" name="ignore" value="" id="ignore_form">
        <div id="basket_form_container">
            <div class="bx_ordercart bx_blue">
                <div class="bx_sort_container">
                    <a href="javascript:void(0)" class="current basket_toolbar" onclick="showCartItemsList(this, '');">
                        Все
                        <div id="normal_count" class="flat" style="display: none">({{ cart|length }})</div>
                    </a>
                    {% for provider in providers %}
                        <a href="javascript:void(0)" class="basket_toolbar" onclick="showCartItemsList(this, '{{ provider.provider }}');">
                            {{ provider.provider }}
                            <div id="normal_count" class="flat" style="display: none;">({{ provider.quantity }})</div>
                        </a>
                    {% endfor %}
                    <div class="top_control basket_sort">
                        <span class="delete_all button grey_br transparent remove_all_basket" onclick="clearCart();">Очистить</span>
                    </div>
                </div>
                <div id="basket_items_list">
                    <div class="bx_ordercart_order_table_container">
                        <table id="basket_items">
                            <thead>
                                <td class="margin"></td>
                                <td class="item" colspan="1" id="col_NAME" >Товары</td>
                                <td class="custom">Поставщик</td>
                                <td class="price" id="col_PRICE">Цена</td>
                                <td class="custom" id="col_QUANTITY">Количество</td>
                                <td class="custom" id="col_SUM">Сумма</td>
                                <td class="custom"></td>
                                <td class="margin"></td>
                            </thead>
                            <tbody id="basket_list">
                                {% for item in cart %}
                                    <tr>
                                        <td class="margin"></td>
                                        <td class="item">
                                            <h2 class="bx_ordercart_itemtitle">{{ item.name }}</h2>
                                        </td>
                                        <td class="custom">
                                            <div>{{ item.provider }}</div>
                                        </td>
                                        <td class="price">
                                            <div class="current_price" id="current_price_{{ item.id }}">
                                                <span class="price_value">{{ item.price }}</span>
                                                <span class="price_currency"> руб.</span>
                                            </div>
                                        </td>
                                        <td class="custom">
                                            <div class="centered">
                                                <table cellpadding="0" cellspacing="0" class="counter">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <input type="text" size="3" id="QUANTITY_INPUT_{{ item.id }}"
                                                                name="QUANTITY_INPUT_{{ item.id }}" maxlength="18"
                                                                style="max-width: 50px" value="{{ item.quantity }}"
                                                                onchange="updateQuantity({{ item.id }});">
                                                            </td>
                                                            <td id="basket_quantity_control">
                                                                <div class="basket_quantity_control">
                                                                    <a href="javascript:void(0);" class="plus"
                                                                       onclick="setQuantity({{ item.id }}, {{ item.multiplicity }}, 'up', false)">
                                                                    </a>
                                                                    <a href="javascript:void(0);" class="minus"
                                                                       onclick="setQuantity({{ item.id }}, {{ item.multiplicity }}, 'down', false)">
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                        <td class="custom">
                                            <div id="sum_{{ item.id }}">
                                                <span class="price_value sum_itema">{{ item.sum }}</span>
                                                <span class="price_currency"> руб.</span>
                                            </div>
                                        </td>
                                        <td class="control">
                                            <a href="/delete_from_cart/?id={{ item.id }}" onclick="return deleteProductRow(this)">Удалить</a>
                                            <a style="display: none;"></a>
                                        </td>
                                        <td class="margin"></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="bx_ordercart_order_pay">
                        <div class="bx_ordercart_order_pay_center">
                            <a href="/catalog" class="catalog_back button transparent big_btn grey_br">Продолжить покупки</a>
                            <span class="price_value" id="value_s"><script type="text/javascript">setSum()</script></span>
                            <a href="javascript:{}" onclick="document.getElementById('cart').submit()" class="oneclickbuy button big_btn fast_order">Оформить заказ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}