{% extends "index.html" %}

{% block history %}
    <script>
    function toggleFunc(elem) {
        [].forEach.call(document.getElementsByClassName("item_"+elem.id), function (v, i, a) {
            console.log(v);
            if (v.classList.contains("hide")){
                v.classList.remove("hide");
            } else {
                v.classList.add("hide");
            }
        });

    }
    </script>
    <div class="ajax_load table">
        <table class="module_products_list" style="border-collapse: separate">
            {% for order in orders %}
                <tr class="item" id="bx_3966226736_{{ order.id }}">
                    <td class="item-name-cell">
                        <div class="title"><a>{{ order.id }}</a></div>
                    </td>
                    <td class="item-name-cell">
                        <div class="title" style="font-size: 14px; color: black">
                            <a href="/search/?q={{ query }}&provider={{ result.price.provider.id }}"></a>
                        </div>
                    </td>
                    <td class="price-cell">
                        <div class="cost prices clearfix">
                            <div class="price">
                                <span class='price_value'>{{ order.get_summary }}</span>
                                <span class='price_currency'> руб.</span>
                            </div>
                        </div>
                    </td>
                    <td class="price-cell">
                        <div class="cost prices">
                            <div class="price">
                                <span class='price_value'>{{ order.get_product_set|length }}</span>
                                <span class='price_currency'> шт.</span>
                            </div>
                        </div>
                    </td>
                    <td class="price-cell">
                        <div class="cost prices">
                            <span class="price_value">{{ order.date }}</span>
                        </div>
                    </td>
                    <td style="max-width: 200px; text-align: left; width: 5%;">
                        <a id="{{ order.id }}" onclick="toggleFunc(this);"><span class="glyphicon glyphicon-chevron-down"></span></a>
                    </td>
                </tr>
                {% for product in order.get_product_set %}
                    <tr class="item hide item_{{ order.id }}">
                    <td class="item-name-cell">
                        <div class="title"><a href="">{{ product.name }}</a></div>
                    </td>
                    <td class="item-name-cell">{{ product.provider }}</td>
                    <td class="price-cell">
                        <div class="cost prices clearfix">
                            <div class="price">
                                <span class='price_value'>{{ product.cost }}</span>
                                <span class='price_currency'> руб.</span>
    {#                        <div class="price discount">#}
    {#                            <span>#}
    {#                                <span class='price_value'>5 990</span><span class='price_currency'> руб.</span>#}
    {#                            </span>#}
    {#                        </div>#}
                            </div>
                        </div>
                    </td>
                    <td class="price-cell">
                        <div class="cost prices">
                            <div class="price">
                                <span class='price_value'>{{ product.quantity }}</span>
                                <span class='price_currency'> шт.</span>
                            </div>
                        </div>
                    </td>
                    <td class="price-cell" style="max-width: 200px; text-align: left; width: 21%">
                        <div class="cost prices">
                            <div class="price">
                                <span class="price_value">{{ product.get_summary }}</span>
                                <span class='price_currency'> руб.</span>
                            </div>
                        </div>
                    </td>
                    <td></td>
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}