<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru" >
<head>
  <title>Smart Price</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="yes" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="интернет-магазин, заказать, купить" />
<meta name="description" content="Оптимальный интернет-магазин" />
{% load static %}
<link href="{% static "main/bitrix/js/main/core/css/core-14792951323963.css" %}" type="text/css"  rel="stylesheet" />
<link href="{% static "main/bitrix/js/main/core/css/core_popup-149199394819809.css" %}" type="text/css"  rel="stylesheet" />
<link href="{% static "main/bitrix/components/bitrix/sale.basket.basket/templates/default/style-149199472740115.css" %}" type="text/css" rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/components/bitrix/catalog.smart.filter/main/style-14792951351133.css" %}" type="text/css"  rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/css/jquery.fancybox-14792951354353.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/css/styles-1491814311119166.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/ajax/ajax-1479295142326.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/css/spectrum-147929513514921.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/components/aspro/theme.optimus/templates/default/style-14792950575650.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/panel/main/popup-147929506423084.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/styles-14918143113951.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/template_styles-1491814311316888.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/themes/red/theme-149181431132265.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/bg_color/light/bgcolors-147929514252.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/css/media-1491814311104342.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/css/fonts/font-awesome/css/font-awesome.min-147929513529063.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/css/print-14918143115385.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="{% static "main/bitrix/templates/aspro_optimus/css/custom-1479295135523.css" %}" type="text/css"  data-template-style="true"  rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript">if(!window.BX)window.BX={message:function(mess){if(typeof mess==='object') for(var i in mess) BX.message[i]=mess[i]; return true;}};</script>
<script type="text/javascript">(window.BX||top.BX).message({'JS_CORE_LOADING':'Загрузка...','JS_CORE_NO_DATA':'- Нет данных -','JS_CORE_WINDOW_CLOSE':'Закрыть','JS_CORE_WINDOW_EXPAND':'Развернуть','JS_CORE_WINDOW_NARROW':'Свернуть в окно','JS_CORE_WINDOW_SAVE':'Сохранить','JS_CORE_WINDOW_CANCEL':'Отменить','JS_CORE_WINDOW_CONTINUE':'Продолжить','JS_CORE_H':'ч','JS_CORE_M':'м','JS_CORE_S':'с','JSADM_AI_HIDE_EXTRA':'Скрыть лишние','JSADM_AI_ALL_NOTIF':'Показать все','JSADM_AUTH_REQ':'Требуется авторизация!','JS_CORE_WINDOW_AUTH':'Войти','JS_CORE_IMAGE_FULL':'Полный размер'});</script>
<script type="text/javascript">(window.BX||top.BX).message({'LANGUAGE_ID':'ru','FORMAT_DATE':'DD.MM.YYYY','FORMAT_DATETIME':'DD.MM.YYYY HH:MI:SS','COOKIE_PREFIX':'BITRIX_SM','SERVER_TZ_OFFSET':'10800','SITE_ID':'s1','SITE_DIR':'/','USER_ID':'','SERVER_TIME':'1493369222','USER_TZ_OFFSET':'0','USER_TZ_AUTO':'Y','bitrix_sessid':'62d7d27a87ece0289923b1299d2ffe90'});</script>


<script type="text/javascript" src="{% static "main/bitrix/js/main/jquery/jquery-1.8.3.min-147929513293636.js" %}"></script>

<script type="text/javascript" src="{% static "main/bitrix/js/main/ajax-147929513135509.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/js/main/core/core-1491993948117307.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/components/bitrix/sale.basket.basket/templates/default/script-149275812837545.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/js/main/core/core_ajax-149199394835797.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/js/main/core/core_window-147929513296650.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/js/main/core/core_popup-149199394857597.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/js/main/cphttprequest-14792951326104.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/js/currency/core_currency-14792951302402.js" %}"></script>
<script>BX.message({'PHONE':'Телефон','SOCIAL':'Социальные сети','DESCRIPTION':'Описание магазина','ITEMS':'Товары','LOGO':'Логотип','REGISTER_INCLUDE_AREA':'Текст о регистрации','AUTH_INCLUDE_AREA':'Текст об авторизации','FRONT_IMG':'Изображение компании','EMPTY_CART':'пуста','CATALOG_VIEW_MORE':'... Показать все','CATALOG_VIEW_LESS':'... Свернуть','JS_REQUIRED':'Заполните это поле!','JS_FORMAT':'Неверный формат!','JS_FILE_EXT':'Недопустимое расширение файла!','JS_PASSWORD_COPY':'Пароли не совпадают!','JS_PASSWORD_LENGTH':'Минимум 6 символов!','JS_ERROR':'Неверно заполнено поле!','JS_FILE_SIZE':'Максимальный размер 5мб!','JS_FILE_BUTTON_NAME':'Выберите файл','JS_FILE_DEFAULT':'Файл не найден','JS_DATE':'Некорректная дата!','FANCY_CLOSE':'Закрыть','FANCY_NEXT':'Следующий','FANCY_PREV':'Предыдущий','TOP_AUTH_REGISTER':'Регистрация','CALLBACK':'Заказать звонок','UNTIL_AKC':'До конца акции','TITLE_QUANTITY_BLOCK':'Остаток','TITLE_QUANTITY':'штук','COUNTDOWN_SEC':'сек.','COUNTDOWN_MIN':'мин.','COUNTDOWN_HOUR':'час.','COUNTDOWN_DAY0':'дней','COUNTDOWN_DAY1':'день','COUNTDOWN_DAY2':'дня','COUNTDOWN_WEAK0':'Недель','COUNTDOWN_WEAK1':'Неделя','COUNTDOWN_WEAK2':'Недели','COUNTDOWN_MONTH0':'Месяцев','COUNTDOWN_MONTH1':'Месяц','COUNTDOWN_MONTH2':'Месяца','COUNTDOWN_YEAR0':'Лет','COUNTDOWN_YEAR1':'Год','COUNTDOWN_YEAR2':'Года','CATALOG_PARTIAL_BASKET_PROPERTIES_ERROR':'Заполнены не все свойства у добавляемого товара','CATALOG_EMPTY_BASKET_PROPERTIES_ERROR':'Выберите свойства товара, добавляемые в корзину в параметрах компонента','CATALOG_ELEMENT_NOT_FOUND':'Элемент не найден','ERROR_ADD2BASKET':'Ошибка добавления товара в корзину','CATALOG_SUCCESSFUL_ADD_TO_BASKET':'Успешное добавление товара в корзину','ERROR_BASKET_TITLE':'Ошибка корзины','ERROR_BASKET_PROP_TITLE':'Выберите свойства, добавляемые в корзину','ERROR_BASKET_BUTTON':'Выбрать','BASKET_TOP':'Корзина в шапке','ERROR_ADD_DELAY_ITEM':'Ошибка отложенной корзины','VIEWED_TITLE':'Ранее вы смотрели','VIEWED_BEFORE':'Ранее вы смотрели','BEST_TITLE':'Лучшие предложения','CT_BST_SEARCH_BUTTON':'Поиск','CT_BST_SEARCH2_BUTTON':'Найти','BASKET_PRINT_BUTTON':'Распечатать','BASKET_CLEAR_ALL_BUTTON':'Очистить','BASKET_QUICK_ORDER_BUTTON':'Быстрый заказ','BASKET_CONTINUE_BUTTON':'Продолжить покупки','BASKET_ORDER_BUTTON':'Оформить заказ','SHARE_BUTTON':'Поделиться','BASKET_CHANGE_TITLE':'Ваш заказ','BASKET_CHANGE_LINK':'Изменить','FROM':'от','TITLE_BLOCK_VIEWED_NAME':'Ранее вы смотрели','T_BASKET':'Корзина заказа','FILTER_EXPAND_VALUES':'Показать все','FILTER_HIDE_VALUES':'Свернуть','FULL_ORDER':'Полный заказ'})</script>
<link rel="shortcut icon" href="/imgs/favicon-1479295164.ico" type="image/x-icon" />
<link rel="apple-touch-icon" sizes="180x180" href="include/apple-touch-icon.png" />
<meta property="ya:interaction" content="XML_FORM" />
<meta property="ya:interaction:url" content="https://optimus.aspro-demo.ru/catalog/avtoelektronika/gps_navigatory/?display=table&mode=xml" />
<script type="text/javascript">var ajaxMessages = {wait:"Загрузка..."}</script>
<meta property="og:title" content="GPS-навигаторы в Москве по доступным ценам - Аспро: Optimus" />
<meta property="og:type" content="article" />
<meta property="og:image" content="/logo.png" />
<link rel="image_src" href="logo.png.html"  />
<meta property="og:url" content="/catalog/avtoelektronika/gps_navigatory/?display=table" />
<meta property="og:description" content="Оптимальный интернет-магазин" />



<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.actual.min-14792951361251.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jqModal-14792951363355.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.fancybox-147929513645891.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.history-147929513621571.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.flexslider-147929513655515.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.validate.min-147929513622257.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.inputmask.bundle.min-147929513663845.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.easing.1.3-14792951368095.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/equalize.min-1479295136588.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.alphanumeric-14792951361972.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.cookie-14792951363066.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.plugin.min-14792951363181.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.countdown.min-147929513613137.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.countdown-ru-14792951361400.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.ikSelect-148040111032030.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/sly-147929513659910.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/equalize_ext-14792951362846.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/jquery.dotdotdot-14792951365908.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/main-1492500513121551.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/spectrum-147929513678973.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/components/aspro/theme.optimus/templates/default/script-14792950577704.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/components/bitrix/search.title/script-14792950639371.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/js/custom-1479295136100.js" %}"></script>
<script type="text/javascript" src="{% static "main/bitrix/templates/aspro_optimus/components/bitrix/catalog.smart.filter/main/script-148584315326377.js" %}"></script>
<script type="text/javascript">var _ba = _ba || []; _ba.push(["aid", "20c6aa473a2bf985f411204ed4e239e8"]); _ba.push(["host", "optimus.aspro-demo.ru"]); (function() {var ba = document.createElement("script"); ba.type = "text/javascript"; ba.async = true;ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ba, s);})();</script>

<link href="{% static "main/extra.css" %}" type="text/css" rel="stylesheet">

      <!--[if gte IE 9]><style type="text/css">.basket_button, .button30, .icon {filter: none;}</style><![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body id="main">
<div id="panel"></div>
        <!--noindex-->
  <script type="text/javascript">
      function add_to_cart(elem){
          var plus, minus, quantity_input, item_id, item_quantity;
          plus = elem.parentElement.parentElement.children[0].getElementsByTagName("span")[1];
          minus = elem.parentElement.parentElement.children[0].getElementsByTagName("span")[0];
          quantity_input = elem.parentElement.parentElement.children[0].getElementsByTagName("input")[0];
          item_id = elem.getAttribute("data-item");
          item_quantity = elem.getAttribute("data-quantity");
          $.ajax({
                  url: "/add_to_cart/",
                  data: {"id": item_id, "quantity": item_quantity},
                  success: function(data){
                      elem.style.display = "none";
                      elem.parentElement.children[1].style.display = "inherit";
                      plus.setAttribute("onclick", "");
                      minus.setAttribute("onclick", "");
                      quantity_input.setAttribute("disabled", "disabled");
                      return 1;
                  }
              })
      }
  </script>
<!--/noindex-->
  <script type="text/javascript">
    BX.message({'MIN_ORDER_PRICE_TEXT':'<b>Минимальная сумма заказа #PRICE#<\/b><br/>\nПожалуйста, добавьте еще товаров в корзину '});

    var arOptimusOptions = ({
      "SITE_DIR" : "/",
      "SITE_ID" : "s1",
      "FORM" : ({
        "ASK_FORM_ID" : "ASK",
        "SERVICES_FORM_ID" : "SERVICES",
        "FEEDBACK_FORM_ID" : "FEEDBACK",
        "CALLBACK_FORM_ID" : "CALLBACK",
        "RESUME_FORM_ID" : "RESUME",
        "TOORDER_FORM_ID" : "TOORDER"
      }),
      "PAGES" : ({
        "FRONT_PAGE" : "",
        "BASKET_PAGE" : "",
        "ORDER_PAGE" : "",
        "PERSONAL_PAGE" : "",
        "CATALOG_PAGE" : "1"
      }),
      "PRICES" : ({
        "MIN_PRICE" : "1000"
      }),
      "THEME" : ({
        "THEME_SWITCHER" : "y",
        "COLOR_THEME" : "red",
        "CUSTOM_COLOR_THEME" : "006dca",
        "LOGO_IMAGE" : "",
        "FAVICON_IMAGE" : "/include/favicon.ico?1479295164",
        "APPLE_TOUCH_ICON_IMAGE" : "/include/apple-touch-icon.png",
        "BANNER_WIDTH" : "",
        "BANNER_ANIMATIONTYPE" : "SLIDE_HORIZONTAL",
        "BANNER_SLIDESSHOWSPEED" : "5000",
        "BANNER_ANIMATIONSPEED" : "600",
        "HEAD" : ({
          "VALUE" : "",
          "MENU" : "",
          "MENU_COLOR" : "",
          "HEAD_COLOR" : ""
        }),
        "BASKET" : "fly",
        "STORES" : "",
        "STORES_SOURCE" : "iblock",
        "TYPE_SKU" : "type_1",
        "TYPE_VIEW_FILTER" : "vertical",
        "SHOW_BASKET_ONADDTOCART" : "Y",
        "SHOW_BASKET_PRINT" : "Y",
        "SHOW_ONECLICKBUY_ON_BASKET_PAGE" : "Y",
        "PHONE_MASK" : "+7 (999) 999-99-99",
        "VALIDATE_PHONE_MASK" : "^[+][7] [(][0-9]{3}[)] [0-9]{3}[-][0-9]{2}[-][0-9]{2}$",
        "SCROLLTOTOP_TYPE" : "ROUND_COLOR",
        "SCROLLTOTOP_POSITION" : "PADDING",
        "MENU_POSITION" : "line"
      }),
      "COUNTERS":({
        "YANDEX_COUNTER" : "0",
        "YANDEX_ECOMERCE" : "N",
        "USE_YA_COUNTER" : "N",
        "YA_COUNTER_ID" : "",
        "USE_FORMS_GOALS" : "COMMON",
        "USE_BASKET_GOALS" : "Y",
        "USE_1CLICK_GOALS" : "Y",
        "USE_FASTORDER_GOALS" : "Y",
        "USE_FULLORDER_GOALS" : "Y",
        "USE_DEBUG_GOALS" : "N",
        "GOOGLE_COUNTER" : "0",
        "GOOGLE_ECOMERCE" : "N",
        "TYPE":{
          "ONE_CLICK":"Покупка в 1 клик",
          "QUICK_ORDER":"Быстрый заказ"
        },
        "GOOGLE_EVENTS":{
          "ADD2BASKET": "addToCart",
          "REMOVE_BASKET": "removeFromCart",
          "CHECKOUT_ORDER": "checkout"
        }
      }),
      "JS_ITEM_CLICK":({
        "precision" : 6,
        "precisionFactor" : Math.pow(10,6)
      })
    });

    $(document).ready(function(){
      $.extend( $.validator.messages, {
        required: BX.message('JS_REQUIRED'),
        email: BX.message('JS_FORMAT'),
        equalTo: BX.message('JS_PASSWORD_COPY'),
        minlength: BX.message('JS_PASSWORD_LENGTH'),
        remote: BX.message('JS_ERROR')
      });

      $.validator.addMethod(
        'regexp', function( value, element, regexp ){
          var re = new RegExp( regexp );
          return this.optional( element ) || re.test( value );
        },
        BX.message('JS_FORMAT')
      );

      $.validator.addMethod(
        'filesize', function( value, element, param ){
          return this.optional( element ) || ( element.files[0].size <= param )
        },
        BX.message('JS_FILE_SIZE')
      );

      $.validator.addMethod(
        'date', function( value, element, param ) {
          var status = false;
          if(!value || value.length <= 0){
            status = false;
          }
          else{
            // html5 date allways yyyy-mm-dd
            var re = new RegExp('^([0-9]{4})(.)([0-9]{2})(.)([0-9]{2})$');
            var matches = re.exec(value);
            if(matches){
              var composedDate = new Date(matches[1], (matches[3] - 1), matches[5]);
              status = ((composedDate.getMonth() === (matches[3] - 1)) && (composedDate.getDate() === matches[5]) && (composedDate.getFullYear() === matches[1]));
            }
            else{
              // firefox
              var re = new RegExp('^([0-9]{2})(.)([0-9]{2})(.)([0-9]{4})$');
              var matches = re.exec(value);
              if(matches){
                var composedDate = new Date(matches[5], (matches[3] - 1), matches[1]);
                status = ((composedDate.getMonth() === (matches[3] - 1)) && (composedDate.getDate() === matches[1]) && (composedDate.getFullYear() === matches[5]));
              }
            }
          }
          return status;
        }, BX.message('JS_DATE')
      );

      $.validator.addMethod(
        'extension', function(value, element, param){
          param = typeof param === 'string' ? param.replace(/,/g, '|') : 'png|jpe?g|gif';
          return this.optional(element) || value.match(new RegExp('.(' + param + ')$', 'i'));
        }, BX.message('JS_FILE_EXT')
      );

      $.validator.addMethod(
        'captcha', function( value, element, params ){
          return $.validator.methods.remote.call(this, value, element,{
            url: arOptimusOptions['SITE_DIR'] + 'ajax/check-captcha.php',
            type: 'post',
            data:{
              captcha_word: value,
              captcha_sid: function(){
                return $(element).closest('form').find('input[name="captcha_sid"]').val();
              }
            }
          });
        },
        BX.message('JS_ERROR')
      );

      $.validator.addClassRules({
        'phone':{
          regexp: arOptimusOptions['THEME']['VALIDATE_PHONE_MASK']
        },
        'confirm_password':{
          equalTo: 'input[name="REGISTER\[PASSWORD\]"]',
          minlength: 6
        },
        'password':{
          minlength: 6
        },
        'inputfile':{
          extension: arOptimusOptions['THEME']['VALIDATE_FILE_EXT'],
          filesize: 5000000
        },
        'captcha':{
          captcha: ''
        }
      });

      if(arOptimusOptions['THEME']['PHONE_MASK']){
        $('input.phone').inputmask('mask', {'mask': arOptimusOptions['THEME']['PHONE_MASK']});
      }

      jqmEd('feedback', arOptimusOptions['FORM']['FEEDBACK_FORM_ID']);
      jqmEd('ask', arOptimusOptions['FORM']['ASK_FORM_ID'], '.ask_btn');
      jqmEd('services', arOptimusOptions['FORM']['SERVICES_FORM_ID'], '.services_btn','','.services_btn');
      if($('.resume_send').length){
        $('.resume_send').live('click', function(e){
          $("body").append("<span class='resume_send_wr' style='display:none;'></span>");
          jqmEd('resume', arOptimusOptions['FORM']['RESUME_FORM_ID'], '.resume_send_wr','', this);
          $("body .resume_send_wr").click();
          $("body .resume_send_wr").remove();
        })
      }
      jqmEd('callback', arOptimusOptions['FORM']['CALLBACK_FORM_ID'], '.callback_btn');

    });
    function show_modal() {
        var result = confirm("При обновлении прайсов все товары из корзины будут удалены. Вы хотите продолжить?")
        if (result === true){
            window.location.href = "/update_price/"
        } else {
            return "";
        }
    }
    </script>
<div class="wrapper catalog_page basket_fly colored banner_auto">
    <div class="header_wrap ">
        <header id="header">
            <div class="wrapper_inner">
                <div class="top_br"></div>
                <table class="middle-h-row">
                    <tr>
                        <td class="logo_wrapp">
                            <div class="logo nofill_n">
                                <a href="/catalog" style="background-color: transparent">
                                    <img src="{% static "main/imgs/logo.png" %}">
                                </a>
                            </div>
                        </td>
                        <td  class="center_block">
                            <img src="{% static "main/imgs/add_center.jpg" %}" height="100" width="700">
                        </td>
                        <td class="basket_wrapp">
                            <div class="header-cart fly" id="basket_line"></div>
                            <div class="middle_phone">
                                <div class="phones">
                                    <span class="phone_wrap">
                                        <span class="phone">
                                            <span class="icons fa fa-phone"></span>
                                            <span class="phone_text">
                                                <a href="tel:+73952796419" rel="nofollow">+7 395 279-64-19</a>
                                                <a href="tel:+79041576360" rel="nofollow">+7 904 157-63-60</a>
                                            </span>
                                        </span>
                                        <span class="order_wrap_btn">
                                            <span style="display: inline-block; font-size: 10px;
                                            text-transform: uppercase; letter-spacing: 0.1px;">
                                              Техническая поддержка
                                            </span>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="catalog_menu menu_colored wrapper_some">
                <div class="wrapper_inner">
                    <div class="wrapper_middle_menu wrap_menu">
                        <div class="catalog_menu_ext"></div>
                        <div class="inc_menu">
                            <ul class="menu top catalogfirst visible_on_ready extra_menu_top_block">
                                <li {% if title == "catalog" %}class="current"{% else %}class="  "{% endif %}><a class="" href="/catalog">Каталог</a></li>
                                <li {% if title == "cart" %}class="current"{% else %}class="  "{% endif %}><a class="" href="/cart" >Корзина</a></li>
                                <li class="  " style="width: 750px">
                                    <div class="search_extra">
                                        <div id="title-search" class="stitle_form">
                                            <form action="/search/" method="get" id="cart-search-form">
                                                <div class="form-control1 bg">
                                                    <input id="title-searchs-input" type="text" name="q" value="{{ query }}" size="40"
                                                           class="text small_block" maxlength="100" autocomplete="off"
                                                           placeholder="Поиск по товарам" />
                                                    <input type="submit" value="Поиск" class="search_extra_icon" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li {% if title == "history" or title == "settings" %}class="current"{% else %}class=""{% endif %}>
                                    <div class="dropdown">
                                        <a class="dropbtn">
                                            {{ user.organization }}#{{ user.id }}
                                            <i class="material-icons" id="notify-icon">priority_high</i>
                                        </a>
                                        <div class="dropdown-content">
                                            <a onclick="show_modal();" id="update-price">Обновить прайсы</a>
                                            <a href="/history">История заказов</a>
                                            <a href="/settings">Настройки</a>
                                            <a href="/logout">Выйти</a>
                                      </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="mobile_menu_wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        <script>
            var fixmeTop = $('.wrapper_some').offset().top;       // get initial position of the element
            $(window).scroll(function() {                  // assign scroll event listener
                var currentScroll = $(window).scrollTop(); // get current position
                if (currentScroll >= fixmeTop) {           // apply position: fixed if you
                    $('.wrapper_some').css({                      // scroll to that element or below it
                        position: 'fixed',
                        top: '0',
                        width: '100%'
                    });
                } else {                                   // apply position: static
                    $('.wrapper_some').css({                      // if you scroll above it
                        position: 'static'
                    });
                }

            });
        </script>
        </header>
    </div>
    <div class="wraps" id="content">
        <div class="wrapper_inner  ">
            <div class="left_block"></div>
            <div class="right_block">
                <div class="middle">
                    <div class="container">
                        <div class="right_block1 clearfix catalog vertical" id="right_block_ajax">
                            <div class="inner_wrapper">
                                {% block search %}{% endblock %}
                                {% block cart %}{% endblock %}
                                {% block history %}{% endblock %}
                                {% block price %}{% endblock %}
                                {% block settings %}{% endblock %}
                                <script>
                                    $(document).ready(function(){
                                        $('.sort_header').fadeIn();
                                    })
                                </script>
                                <div>
                                    <div class="bottom_nav table" ></div>
                                </div>
                                <script type="text/javascript">$('.module_products_list').removeClass('errors');</script>
                                <div class="group_description_block bottom"></div>
                                <div class="clear"></div>
                                <div class="notify_area" id="notify_area">
                                    <script>
                                        function get_notify_status() {
                                            var elem = document.getElementById("notify_area");
                                            var icon = document.getElementById("notify-icon");
                                            var a_elem = document.getElementById("update-price");
                                            $.ajax({
                                                "url": "/get_notify_status/",
                                                success: function (data) {
                                                    if (data["status"] == 0) {
                                                        elem.style.visibility = "visible";
                                                    }
                                                    if (data["notifications"] > 0){
                                                        icon.style.visibility = "visible";
                                                        a_elem.style.color = "red";
                                                    } else {
                                                        icon.style.visibility = "hidden";
                                                        a_elem.style.color = "white";
                                                    }
                                                }
                                            })
                                        }
                                        get_notify_status();
                                        setInterval('get_notify_status()', 10000);
                                    </script>
                                    Доступны новые прайсы
                                    <a onclick="function hide(elem) {
                                        $.ajax({
                                            'url': '/set_notify_status/',
                                            success: function(){
                                                elem.parentElement.style.visibility = 'hidden'
                                            }
                                        });
                                    }
                                    hide(this);">X</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>