<html>
<head>
    <meta charset="utf-8">
    <title>Вход</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body{
            background: #fefefe;
            margin: 0;
            padding: 0;
{#            font: 1em/1.3em Ubuntu, Arial, Helvetica, sans-serif;#}
            color: #272727;
        }
        .main{
            margin: 20px;
{#            border: 1px solid #ccc;#}
            padding: 20px;
            background: #fff;
            border-radius: 3px;
        }
        .main{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            align-items: flex-start;
            max-width: 500px;
            align-content: center;
            margin: 200px auto;
            flex-flow: row wrap;
        }
        .login_form{
            padding: 5px 10px;
{#            border: 1px solid #ddd;#}
{#            background: #fffde1;#}
            border-radius: 3px;
            margin: 20px;
            width: 100%;
            justify-content: space-around;
        }
        .butsub{
            height: 50px;
            padding: 5px 0;
            margin: 20px 0;
        }
        .email{
            height: 50px;
            padding: 5px 0;
            margin: 10px 0;
        }
        .pwd{
            height: 50px;
            padding: 5px 0;
            margin: 10px 0;
        }
        .errorlist{
            padding: 0;
            list-style-type: none;
        }
        .errorlist li{
            display: block;
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body>
<div class="main">
    <div class="login_form">
        <form action="/" method="post">
            {% csrf_token %}
            {% for key, value in form.errors.items %}
                {{ value }}
            {% endfor %}
            <div class="email">
                <label for="id_email">Email</label>
                {{ form.email }}
            </div>
            <div class="pwd">
                <label for="id_password">Пароль</label>
                {{ form.password }}
            </div>
            <div class="butsub">
                <input type="submit" value="Войти" class="form-control btn-success">
            </div>
        </form>
    </div>
</div>
</body>
</html>