{% extends "index.html" %}
{% block search %}
<script type="text/javascript">
    function change_quantity(elem, multiplicity, quantity) {
        var mult = parseInt(multiplicity);
        var q = parseInt(quantity);
        var input_q = elem.parentElement.children[1];
        var button = elem.parentElement.parentElement.children[1].children[0];
        if (parseInt(input_q.value) + mult < Math.abs(multiplicity) || parseInt(input_q.value) + mult > q) {
            return
        } else {
            input_q.value = parseInt(input_q.value) + mult;
            button.setAttribute('data-quantity', input_q.value);
        }

    }

    function get_url() {
        var url = new URL(window.location.href);
        if (url.searchParams.get("page") !== null) {
            url.searchParams.set("page", url.searchParams.get("page"));
        }
        if (url.searchParams.get("q") !== null) {
            url.searchParams.set("q", url.searchParams.get("q"));
        }
        return url
    }

    function sort_by_name() {
        var url = get_url();
        url.searchParams.set("cost", "");
        if (url.searchParams.get("name") !== "1") {
            url.searchParams.set("name", "1")
        } else {
            url.searchParams.set("name", "2")
        }
        window.location.href = url;
    }

    function sort_by_cost() {
        var url = get_url();
        url.searchParams.set("name", "");
        if (url.searchParams.get("cost") !== "1") {
            url.searchParams.set("cost", "1")
        } else {
            url.searchParams.set("cost", "2")
        }
        window.location.href = url;
    }
</script>
    <div class="ajax_load table">
        <table class="extra_table module_products_list">
            <tr>
                <th class="margin"></th>
                <th class="item" colspan="1" id="col_NAME" style="text-align: center !important">
                <a onclick="sort_by_name();"
                style="text-decoration: none; color: black;">Наименование</a></th>
                <th class="custom" style="text-align: center !important">Поставщик</th>
                <th class="custom" style="text-align: center !important">Срок годности</th>
                <th class="price" id="col_PRICE" style="text-align: center !important">
                    <a onclick="sort_by_cost();"
                    style="text-decoration: none; color: black;">Цена</a>
                </th>
                <th class="custom" id="col_QUANTITY" style="text-align: center !important"></th>
                <th class="custom" id="col_SUM" style="text-align: center !important"></th>
            </tr>
            {% for result, status, index in results %}
                <tr class="item" id="bx_3966226736_{{ result.id }}" {% if not status and show == "false" %}
                                style="display: none"
                            {% endif %}>
{#                    <td class="foto-cell">#}
{#                        {{ index }}#}
{#                    </td>#}
                    <td class="item-name-cell" style="text-align: left !important" colspan="2">
                        <div class="title"><a href="#" style="font-size: 9pt">{{ result.name }}</a></div>
                        <div class="item-stock"><span class="value">В наличии {{ result.quantity }} шт</span></div>
                    </td>
                    <td class="item-name-cell" style="text-align: center !important; width: 12% !important">
                        <div class="title" style="font-size: 12pt; color: black">
                            <a href="/search/?q={{ query }}&provider={{ result.provider.id }}" style="font-size: 12pt">
                                {{ result.provider }}
                            </a>
                            <br>
                            <div class="item-stock" title="Дата последнего обновления прайса">
                                {{ result.format_pub_date }}
                            </div>
                        </div>
                    </td>
                    <td class="price-cell" style="text-align: center !important; width: 12% !important">
                        <div class="cost prices clearfix">
                            <div class="price" {% if not status and show == "true" %}
                                style="color: red"
                            {% endif %}>
                                <span class='price_value'>{{ result.format_shelf_life }}</span>
                        </div>
                    </td>
                    <td class="price-cell" style="text-align: center !important; width: 12% !important">
                        <div class="cost prices clearfix">
                            <div class="price">
                                <span class='price_value'>{{ result.cost }}</span>
                                <span class='price_currency'> руб.</span>
                                <span class="price_measure">/шт</span></div>
                        </div>
                    </td>
                    <td class="but-cell item_{{ result.id }}" style="text-align: center !important">
                        <div class="counter_wrapp">
                            <div class="counter_block" data-item="{{ result.id }}" >
                                <span class="extra_minus"
                                      {% if result.id not in simple_cart %}
                                      onclick="change_quantity(this, '-{{ result.get_mult }}', {{ result.quantity }});"
                                      {% else %}
                                      onclick=""
                                      {% endif %}>-</span>
                                <input type="text" class="text" name="count_items"
                                        {% if result.id in simple_cart %}
                                            disabled="disabled"
                                            {% for item in cart %}
                                                {% if item.id == result.id %}
                                                    value="{{ item.quantity }}"
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            value="{{ result.get_mult }}"
                                        {% endif %} />
                                <span class="extra_plus" {% if result.id not in simple_cart %}
                                      onclick="change_quantity(this, '{{ result.get_mult }}', {{ result.quantity }});"
                                      {% else %}
                                      onclick=""
                                      {% endif %}>+</span>
                            </div>
                            <div class="button_block ">
                            <!--noindex-->
                                <button class="small to-cart button transition_bg" data-item="{{ result.id }}" data-float_ratio=""
                                      data-ratio="1" data-bakset_div="bx_basket_div_{{ result.id }}" data-props="" data-part_props="Y"
                                      data-add_props="Y"  data-empty_props="Y" data-offers="" data-iblockID="135"  data-quantity="{{ result.get_mult }}"
                                        onclick="add_to_cart(this);" {% if result.id in simple_cart %} style="display: none;"{% endif %}>
                                    <i></i>
                                    <span>В корзину</span>
                                </button>
                                <button rel="nofollow" class="small in-cart button transition_bg" data-item="{{ result.id }}"
                                    {% if result.id in simple_cart %}
                                        style="display: inherit;"
                                    {% else %}
                                        style="display: none;" 
                                    {% endif %}>
                                   <i></i><span>В корзине</span></button>
                            </div>
                        </div>
                    </td>
                    <td class="">
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="bottom_nav block">
        <div class="module-pagination">
            <div class="nums" id="pagination">
                {% if is_paginated %}
                    {% for num in paginator.page_range %}
                        {% if num == page_obj.number %}
                            <span class="cur">{{num}}</span>
                        {% else %}
                            <a href="?q={{query}}&page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    <script>
                        function addSortToHref(a_tags) {
                            var url = new URL(window.location.href);
                            [].forEach.call(a_tags, function (value, index, array) {
                                var a_url = new URL(value.href);
                                if (url.searchParams.get("cost") != null) {
                                    a_url.searchParams.set("cost", url.searchParams.get("cost"));
                                    value.setAttribute("href", a_url);
                                }
                                if (url.searchParams.get("name") != null) {
                                    a_url.searchParams.set("name", url.searchParams.get("name"));
                                    value.setAttribute("href", a_url);
                                }
                            });
                        }
                        function hide_elems() {
                            var main_div = document.getElementById("pagination");
                            var cur = main_div.getElementsByTagName("span")[0];
                            var a_tags = main_div.getElementsByTagName("a");
                            addSortToHref(a_tags);
                            if (a_tags.length > 9){
                                var ch = parseInt(cur.innerText);
                                var dot_prev = false;
                                var dot_next = false;
                                [].forEach.call(a_tags, function (value, index, array) {
                                    var int_val = parseInt(value.innerText);
                                    var last_elem = parseInt(array[array.length - 1].innerText);
                                    value.style.display = 'none';
                                    if (int_val === 1 || int_val == last_elem ){
                                        value.style.display = 'inherit';
                                        return
                                    }
                                    if (ch - 3 <= 1 && int_val < ch){
                                        value.style.display = 'inherit';
                                    } else {
                                        if (int_val < ch - 1 && dot_prev == false){
                                            value.innerText = '...';
                                            value.setAttribute("href", "");
                                            value.style.display = 'inherit';
                                            dot_prev = true
                                        }
                                        if (int_val === ch - 1 || int_val === ch + 1){
                                            value.style.display = 'inherit';
                                        }
                                    }
                                    if (ch + 3 >= last_elem && int_val > ch){
                                        value.style.display = 'inherit'
                                    } else {
                                        if (int_val > ch + 1 && dot_next === false){
                                            value.innerText = '...';
                                            value.setAttribute("href", "");
                                            value.style.display = 'inherit';
                                            dot_next = true;
                                        }
                                    }
                                })
                            }
                        }
                        hide_elems();
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}