{% extends "index.html" %}
{% load main_filters %}
{% block settings %}
    <script type="text/javascript">
    function clearCart(){
        location.href = "/clear/";
    }
    function attent_to_user(elem, provider_id) {
        if (elem.checked === true){
            $.ajax({
                type: "get",
                url: "/attach_to_user/",
                data: {"provider": provider_id}
            })
        } else {
            $.ajax({
                type: "get",
                url: "/detach_from_user",
                data: {"provider": provider_id}
            })
        }
    }
    function make_request() {
        var elem = document.getElementById("selection_date");
        [].forEach.call(document.getElementsByName("min_date"), function (v, i) {
            if (v.checked === true && parseInt(i) === 0){
                $.ajax({
                    type: "get",
                    url: "/set_min_date/",
                    data: {
                        "time": elem.value,
                        "show": true
                    }
                })
            }
            if (v.checked === true && parseInt(i) === 1){
                $.ajax({
                    type: "get",
                    url: "/set_min_date/",
                    data: {
                        "time": elem.value,
                        "show": false
                    }
                })
            }
        });
    }
    function update_min_order(elem) {
        var id = elem.id.split("_")[1];
        console.log(id)
        $.ajax({
            type: "get",
            url: "/change_min_order/",
            data: {
                "provider": id,
                "min_sum": elem.value,
            }
        });
    }

    </script>
    <style>
    td{
        max-height: 60px;
        padding: 7px !important;
    }
    </style>
    <form>
        <div id="basket_form_container">
            <div class="bx_ordercart bx_blue">
                <div class="bx_sort_container"></div>
                <div>
                    <label for="selection_date">Минимальный срок годности</label>
                    <select id="selection_date" onchange="make_request();">
                        <option value="1" {% if min_date == "1" %}selected="selected"{% endif %}>1 месяц</option>
                        <option value="2" {% if min_date == "2" %}selected="selected"{% endif %}>2 месяца</option>
                        <option value="3" {% if min_date == "3" %}selected="selected"{% endif %}>3 месяца</option>
                        <option value="4" {% if min_date == "4" %}selected="selected"{% endif %}>4 месяца</option>
                        <option value="5" {% if min_date == "5" %}selected="selected"{% endif %}>5 месяцев</option>
                        <option value="6" {% if min_date == "6" %}selected="selected"{% endif %}>6 месяцев</option>
                        <option value="7" {% if min_date == "7" %}selected="selected"{% endif %}>7 месяцев</option>
                        <option value="8" {% if min_date == "8" %}selected="selected"{% endif %}>8 месяцев</option>
                        <option value="9" {% if min_date == "9" %}selected="selected"{% endif %}>9 месяцев</option>
                        <option value="10" {% if min_date == "10" %}selected="selected"{% endif %}>10 месяцев</option>
                        <option value="11" {% if min_date == "11" %}selected="selected"{% endif %}>11 месяцев</option>
                        <option value="12" {% if min_date == "12" %}selected="selected"{% endif %}>12 месяцев</option>
                    </select>
                    <h6><input type="radio" name="min_date" {% if show == "true" %}checked="checked"{% endif %} onchange="make_request()">Красный фон, когда у товара срок годности меньше минимального </h6>
                    <h6><input type="radio" name="min_date" {% if show == "false" %}checked="checked"{% endif %} id="falseShow" onchange="make_request()">Не показывать товар, когда его срок годности меньше минимального</h6>
                    <a href="/catalog" class="oneclickbuy button big_btn fast_order" >Сохранить</a>
                </div>
                <div id="basket_items_list">
                    <div class="bx_ordercart_order_table_container">
                        <table id="basket_items">
                            <thead>
                                <td class="margin"></td>
                                <td class="custom">Поставщик</td>
                                <td class="custom" id="col_SUM">Минимальная сумма</td>
                                <td class="custom">Контактное лицо</td>
                                <td class="custom">Номер телефона</td>
                                <td class="custom"></td>
                                <td class="margin"></td>
                            </thead>
                            <tbody id="basket_list">
                                {% for provider in user_providers %}
                                    <tr>
                                        <td class="margin"></td>
                                        <td class="custom">
                                            <h2 class="bx_ordercart_itemtitle">{{ provider }}</h2>
                                        </td>
                                        <td class="price">
                                            <div class="current_price" id="current_price_{{ provider.id }}">
                                                <span class="price_value">
                                                    <input type="text" id="id_{{ provider.id }}" value="{{ min_sums|get_item:provider.name }}" 
                                                    onchange="update_min_order(this);">
                                                </span>
                                            </div>
                                        </td>
                                        <td class="custom">
                                            <h2 class="bx_ordercart_itemtitle">{{ provider.contact_name }}</h2>
                                        </td>
                                        <td class="custom">
                                            <div id="sum_{{ item.id }}">
                                                <span class="price_value">{{ provider.phone_number }}</span>
                                            </div>
                                        </td>
                                        <td class="custom">
                                            <label for="checkbox-{{ provider.id }}"></label>
                                            <input type="checkbox" id="checkbox-{{ provider.id }}"
                                                   onchange="attent_to_user(this, '{{ provider.id }}');"
                                                   title="работаем" {% if provider in workers_user %}checked="checked"{% endif %}>
                                        </td>
                                        <td class="margin"></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}