/*NOTE: This file is intended for programmers. Aspro technical support is not advised to work with him.*/

/* Examples (uncomment to use):*/

/* Expand site width */
/* body .wrapper { max-width: 1400px !important;  } */

/* Set site background image */
/* body {  background: url("image_source.html") top no-repeat; }

/* Hide compare button */
/* a.compare_item { display: none !important;  }*/

#footer{background:transparent;}
.footer_inner.no_fill{background:#f6f6f7;}
.footer_inner.fill{background: transparent !important;}
